<div class="container">
  <h1 class="heading">Instagram Feed</h1>
  <mat-card class="card" *ngFor="let data of post; let i = index">
    <mat-toolbar class="toolbar">
      <img class="user-image" mat-card-sm-image src="{{data.userImage}}">
      <strong>{{data.username}}</strong>
    </mat-toolbar>
    <div>
      <img class="image" src="{{data.imageUrl}}">
    </div>
  
    <div class="hashtag">
      <mat-icon class="liked" (click)="onLike(data.id)">favorite</mat-icon>{{data.likes}}
      <mat-icon class="comment-icon" (click)="openText(i)">message</mat-icon>{{data.comments.length}}
    </div>
    
    <p class="caption"><span class="font-bold"><strong>{{data.username}}</strong></span>: {{data.caption}}</p>

    <div class="hashtag">
      <span *ngFor="let hashtag of data.hashtags">#{{hashtag}}</span>
    </div>

    <div *ngIf="showComments[i]">
      <div class="comment" *ngFor="let comment of data.comments; let i = index">
        <span><strong>{{comment.username}}</strong>: {{comment.text}}</span>
        <button mat-button color="primary" (click)="onEditComment(data, i)">Edit</button>
      </div>
      <div>
        <input class="inputField" type="text" placeholder="commentText" [(ngModel)]="commentInput[i]">
        <button mat-button color="primary" (click)="onComment(i, data.id)">Post</button>
      </div>
    </div>
  </mat-card>
</div>
<mat-divider></mat-divider>