<nav class="link">
  <a routerLink="/dashboard/home">Home</a>
  <a routerLink="/dashboard/chart">Chart</a>
  <a routerLink="/dashboard/multi-chart">Multi-Chart</a>
  <a routerLink="/dashboard/checkbox">Checkbox</a> 
  <a routerLink="/dashboard/registration-form">Registration-form</a> 
  <a routerLink="/dashboard/auto-search">Auto-Search</a>
  <a routerLink="/dashboard/auto-complete">Auto-Complete</a>
  <a routerLink="/dashboard/form">Form</a>

  <button (click)="openDialog()" class="dialog"><i class="fa-solid fa-user"></i></button>
</nav>
<router-outlet></router-outlet>
