.link {
   font-size: 16px;
   background-color: navy;
   padding: 10px;
   display: flex;
   align-items: center;
}
a {
   color:  white;
   padding: 10px;
   text-decoration: none;
}
button {
   position: relative;
   justify-content: end;
}
