<nav class="link">
  <a routerLink="/home">Home</a>
  <a routerLink="/chart">Chart</a>
  <a routerLink="/multi-chart">Multi-Chart</a>
  <a routerLink="/checkbox">Checkbox</a> 
  <a routerLink="/registration-form">Registration-form</a> 
  <a routerLink="/auto-search">Auto-Search</a>
  <a routerLink="/auto-complete">Auto-Complete</a>
  <a routerLink="/form">Form</a>
  <a routerLink="/instagram-clone">Instagram</a>
  

  <button (click)="openDialog()" class="dialog"><i class="fa-solid fa-user"></i></button>
</nav>
