<div class="container">
  <mat-icon (click)="closeProfile()">clear</mat-icon>
  <mat-card class="card">
    <div>
      <div class="profile">
        <img class="profile-photo" src="{{profile.profilePic}}">
        <span>following : {{profile.following}}</span>
        <span>followers : {{profile.followers}}</span>
      </div>
      <div>{{profile.username}}</div>
      <div>{{profile.fullName}}</div>
      <div>Contect : </div>
      <div>Edit : </div>
      <div>Set-Profile : </div>
      <div>Set-Edit : </div>
      <div>Set-language : </div>
      <div>Setting : </div>
      <button mat-button>Sign out</button>
    </div>
  </mat-card>
</div>