.container {
  justify-content: center;
  text-align: center;
  border: 1px solid grey;
  margin-top: 10%;
  margin-left: 35%;
  padding-top: 55px;
  width: 300px;
  height:350px;
  box-shadow: 5px 5px 5px grey;
}

.form {
  margin-bottom: 50px;
}
 
.registration-link {
  margin-left: 150px;
  font-size: 18px;
  text-decoration: none;
}

.registration-link:hover {
  background-color: lightblue;
}

