<div class="container">
    <h1>Log-In Here</h1>
    <form [formGroup]="loginInput">
        <mat-form-field>
            <mat-label>email</mat-label>
            <input matInput type="text"
            placeholder="enter valid email" 
            formControlName="email">
        </mat-form-field>
        <mat-form-field>
            <mat-label>password</mat-label>
            <input matInput type="number"
            placeholder="enter valid password" 
            formControlName="password">
        </mat-form-field><br>
        <button mat-raised-button color="primary" type="submit" (click)="logIn()">Submit</button><br>
    </form>
</div>    
