.parent-container {
    display: flex;
    height: 100%;
    width: 100%;
    grid-row: auto;
}

.top-container {
    background-color: antiquewhite;
    padding: 15px;
    text-align: center;
}
.container {
    position: fixed;
    background-color: bisque;
    column-width: 20px;
    height: 100%;
    width: 15%;
    justify-content: space-around;
    padding: 5px;
}
.nav {
   position:absolute;
}
.link {
    text-decoration: none;
    display: inline-block;
    padding: 10px;
    background-color: bisque;
}
.content {
    margin-left: 15%;
    padding: 20px;
}