body {
    background-color: green;
    color: white;
    border: 0cap;
    border-radius: 0%;
<<<<<<< HEAD
}
body {
    background-color: green;
    color: white;
    border: 0cqb;
}



   
=======
}
>>>>>>> abaf3d4 (successfully rebase run)
