<div>
    <input  type="search" placeholder="enter number" class="input" [(ngModel)]="searchData" (input)="search()">
</div>
<button type="button" (click)="onAesendingData()">onAesendingDataa</button>
<button type="button" (click)="onDesendingData()">onDesendingData</button>
<div *ngFor="let chart of chartOptions; let i = index">
    <highcharts-chart 
      [Highcharts]="Highcharts"
      [options]="chart"
      [update]="true" 
      style="width: 100%; height: 400px; display: block;">
    </highcharts-chart>
  </div>
