<div class="container">
    <h1>Form Here</h1>
    <form [formGroup]="inputField">
        <mat-form-field>
            <mat-label>FirstName</mat-label>
            <input matInput placeholder="firstName" formControlName="firstName">
        </mat-form-field>
        <div style="color: red;" *ngIf="inputField.get('firstName')?.errors?.required">
            First name is required.
        </div>

        <mat-form-field>
            <mat-label>LastName</mat-label>
            <input matInput placeholder="lastName" formControlName="lastName">
        </mat-form-field>
        <div style="color: red;" *ngIf="inputField.get('lastName')?.errors?.required">
            Last is required.        
        </div>

        <mat-form-field>
            <mat-label>Email</mat-label>
            <input matInput placeholder="Enter email" formControlName="email">
        </mat-form-field>
        <div style="color: red;" *ngIf="inputField.get('email')?.errors?.required">
            Email is required.
        </div>
        <div style="color: red;" *ngIf="inputField.get('email')?.errors?.email">
            Please enter a valid email address.
        </div>
        
         <mat-form-field>
            <mat-label>Password</mat-label>
            <input matInput placeholder="password" formControlName="password">
        </mat-form-field>
        <div style="color: red;" *ngIf="inputField.get('password')?.errors?.required">
            Password is required Max.Length is 6        
        </div>

        <div *ngFor="let control of inputField.get('address')['controls']; let i = index"> 
            <mat-form-field>
                <mat-label>Address</mat-label>
                <input matInput placeholder="address" [formControl]="control">
            </mat-form-field>
            <button *ngIf="i>0"  (click)="remove(i)">-</button>
            <div style="color: red;" *ngIf="inputField.get('address')?.errors?.required">
                Address is required.        
            </div>
        </div>
            <button mat-raised-button color="primary" (click)="addAddress()">+</button>
            <button mat-raised-button (click)="onSubmit()">Submit</button> 
    </form>
</div>