<div class="container" >
    <h1>Submit From</h1>
    
<form [formGroup]="form">
  
    <mat-form-field>
        <mat-label>fristName</mat-label>
        <input matInput placeholder="Enter firstName" type="text" formControlName="firstName" required>
    </mat-form-field>
    <mat-form-field>
        <mat-label>lastName</mat-label>
        <input matInput placeholder="Enter lastName" type="text" formControlName="lastName" required>
    </mat-form-field>
    <mat-form-field>
        <mat-label>email</mat-label>
        <input matInput placeholder="Enter email" type="text" formControlName="email" required>
    </mat-form-field>
    <mat-form-field>
        <mat-label>password</mat-label>
        <input matInput placeholder="Enter password" type="text" formControlName="password" required>
    </mat-form-field>
    <mat-form-field>
        <mat-label>address</mat-label>
    
        <input 
            matInput 
            placeholder="Enter address" 
            type="text" 
            formControlName="address" 
            required
           
         >

        </mat-form-field>
        <button mat-raised-button isActive="true"  (click)="save()">+</button>
        <mat-form-field  *ngIf="isActive" >
            <mat-label>address</mat-label>
            <input 
         
                matInput 
                placeholder="Enter address" 
                type="text" 
                formControlName="address" 
                required >
            </mat-form-field> 
            <button mat-raised-button *ngIf="isActive" (click)="save()" style="margin-left: 76%;">+</button>
            <button mat-raised-button *ngIf="isDeactive" (click)="delete()" style="margin-left: 76%;">-</button>
            <div *ngFor="let i of addressValue">{{i}}</div><br>
        <!-- <button  mat-raised-button color="primary" (click)="submit()">Submit</button>      -->
   
</form>
</div>
