.container {
    justify-content: center;
    text-align: center;
    border: 1px solid grey;
    margin-top: 7%;
    margin-left: 30%;
    padding-top: 55px;
    width: 400px;
    height: 650px;
    box-shadow: 5px 5px 5px grey;
}

