.container {
    justify-content: center;
    text-align: center;
    border: 1px solid grey;
    margin-top: 5%;
    margin-left: 33%;
    padding: 35px;
    width: 400px;
    box-shadow: 5px 5px 5px grey;
}

