mat-form-field{
    display: inline;
}
.container {
    justify-content: center;
    text-align: left;
    border: 1px solid grey;
    margin-top: 10%;
    margin-left: 35%;
    padding-top: 55px;
    padding: 20px;
    width: 300px;
    height: auto;
    box-shadow: 5px 5px 5px grey;
}