<div class="container">
    <mat-form-field appearance="fill">
      
      <mat-chip *ngFor="let option of searchInput">{{option}}</mat-chip>
      <mat-label>Search here</mat-label>
      <input matInput [(ngModel)]="searchText" />
      <mat-select [formControl]="optionsControl" (selectionChange)="selected($event)" multiple>
        <mat-option  *ngFor="let option of filteredOptions;" [value]="option">
          {{option}}
         </mat-option>
      </mat-select>
      <button matSuffix  mat-icon-button color="primary" (click)="getObject()">+</button>
  
    </mat-form-field>

      <h3>Selected Options:</h3>
      <ul>
        <li *ngFor="let option of optionsControl.value">
        
          {{ option }}</li>
      </ul>

  </div>
  <button mat-raised-button color="Accent" (click)="getObject()">Get Object</button>
 
  