<!-- <div class="container">
  <mat-form-field appearance="fill">
      <mat-chip *ngFor="let select of selectedOptions">{{select}}</mat-chip>
      <input matInput [(ngModel)]="searchText" />
      <mat-select [formControl]="optionsControl" (selectionChange)="onSelectionChange($event)" multiple>
        <mat-option *ngFor="let option of filteredOptions" [value]="option">
         {{ option }}
        </mat-option>
      </mat-select>
    </mat-form-field>

      <h3>Selected Options:</h3>
      <ul>
        <li *ngFor="let option of optionsControl.value">{{ option }}</li>
      </ul>
  </div>
   -->
<div>
  <input matInput placeholder="enter value" class="input" [(ngModel)]="searchInput" (keyup)="searchFunc()" >
  <button mat-raised-button color="primary" >Add Data</button>
</div>
<div>
  <table mat-table [dataSource]="filterData"  class="mat-elevation-z8">
    <ng-container matColumnDef="id">
     <th mat-header-cell *matHeaderCellDef >id</th>
     <td  mat-cell *matCellDef="let post">
     <span *ngIf="!post.isEdit">{{post.id}}</span>
     <input matInput placeholder="enter name" value="{{post.id}}" *ngIf="post.isEdit" (change)="handleOnChange($event, post , 'id')">
     </td>
   </ng-container>

   <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef >name</th>
    <td  mat-cell *matCellDef="let post">
       <span *ngIf="!post.isEdit">{{post.name}}</span>
       <input matInput placeholder="enter name" value="{{post.name}}" *ngIf="post.isEdit" (change)="handleOnChange($event, post , 'name')">
    </td>
  </ng-container>

  <ng-container matColumnDef="age">
    <th mat-header-cell *matHeaderCellDef >age</th>
    <td  mat-cell *matCellDef="let post">
      <span *ngIf="!post.isEdit">{{post.age}}</span>
       <input matInput placeholder="enter name" value="{{post.age}}" *ngIf="post.isEdit" (change)="handleOnChange($event, post , 'age')">
    </td>
  </ng-container>

  <ng-container matColumnDef="contact">
    <th mat-header-cell *matHeaderCellDef >contact</th>
    <td  mat-cell *matCellDef="let post">
       <span *ngIf="!post.isEdit">{{post.contact}}</span>
       <input matInput placeholder="enter name" value="{{post.contact}}" *ngIf="post.isEdit" (change)="handleOnChange($event, post , 'contact')">
    </td>
  </ng-container>

  
  <ng-container matColumnDef="post">
    <th mat-header-cell *matHeaderCellDef>post</th>
    <td  mat-cell *matCellDef="let post">
      <span *ngIf="!post.isEdit">{{post.post}}</span>
      <input matInput placeholder="enter name" value="{{post.post}}" *ngIf="post.isEdit">
    </td>
  </ng-container>
  
  <ng-container matColumnDef="Delete">
    <th mat-header-cell *matHeaderCellDef >Delete</th>
    <td  mat-cell *matCellDef="let post">
      <button mat-raised-button color=warn  (click)="removeData(post.id)">Delete</button>
    </td>
  </ng-container>

  <ng-container matColumnDef="action">
    <th mat-header-cell *matHeaderCellDef >action</th>
    <td  mat-cell *matCellDef="let post">
      <button mat-raised-button color=primary *ngIf="!post.isEdit"  (click)="editData(post)">Edit</button>
      <button mat-raised-button color=primary *ngIf="post.isEdit" (click)="saveData(post)">saveData</button>
    </td>
  </ng-container>

   
   <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
   <tr mat-row *matRowDef="let row; columns:  displayedColumns;"></tr>
  </table>

</div>
