<mat-toolbar color="primary">
    <mat-icon><i class="fa-solid fa-face-smile"></i></mat-icon>
    <button mat-button routerLink="/dashboard/home" style="margin-left: 20px;">Home</button>
    <button mat-button routerLink="/dashboard/about">About</button>
    <button mat-button routerLink="/chart">Chart</button>
    <button mat-button routerLink="/multi-chart">Multi-Chart</button>
    <button mat-button routerLink="/chart-api">Chart-Api</button>
    <button mat-button routerLink="/complete">Complete</button> 
    <button mat-button routerLink="/new-Test">New-test</button>
    <!-- <button mat-button routerLink="/search-auto">Search-auto</button>
    <button mat-button routerLink="/auto-complete">Auto-Complete</button>
    <button mat-button routerLink="/form">Form</button>
    <button mat-button routerLink="/login">log-Out</button> -->
    <mat-dialog-content>
      </mat-dialog-content>
      <mat-dialog-actions class="dialog">
        <button mat-icon (click)="openDialog()" class="Dialog"><i class="fa-solid fa-user"></i></button>
      </mat-dialog-actions>
  </mat-toolbar>
  <router-outlet></router-outlet>