<mat-toolbar color="primary">
    <mat-icon><i class="fa-solid fa-face-smile"></i></mat-icon>
    <button mat-button routerLink="/" style="margin-left: 20px;">Home</button>
    <button mat-button routerLink="/about">About</button>
    <button mat-button routerLink="/contact">Contact</button>
    <mat-dialog-content>
      </mat-dialog-content>
      <mat-dialog-actions class="dialog">
        <button mat-icon (click)="openDialog()" class="Dialog"><i class="fa-solid fa-user"></i></button>
      </mat-dialog-actions>
  </mat-toolbar>
  <router-outlet></router-outlet>