<mat-form-field>
  <mat-chip 
    class="mat-chip"
    *ngFor="let fruit of fruits"
    [removable]="removable"
    (removed)="remove(fruit)">
    {{fruit}}
    <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
</mat-chip>
  <input
    matInput
    placeholder="New fruit..."
    #fruitInput
    #autocompleteTrigger="matAutocompleteTrigger"
    [formControl]="fruitCtrl"
    [matAutocomplete]="auto"
  >
  <mat-autocomplete #auto="matAutocomplete" autoActiveFirstOption>
    <mat-option class="truncate-option" *ngFor="let fruit of filteredFruits | async" [value]="fruit">
      <mat-checkbox [checked]="fruits.includes(fruit)" (click)="selected(fruit, $event)">{{fruit}}</mat-checkbox>
    </mat-option>
  </mat-autocomplete>
</mat-form-field>

