.option {
  width: 140px;
  margin-left: 20px;
  text-align: center;
}
.mat-chip {
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
  height: fit-content;
}
.fruit-content {
  white-space: break-spaces;
  padding: 10px;
}
