<app-Navbar></app-Navbar>
<mat-form-field>
  <mat-chip
    *ngFor="let fruit of fruits"
    (removed)="remove(fruit)">
    {{fruit}}
    <mat-icon matChipRemove *ngIf="removable">clear</mat-icon>
  </mat-chip>
  <input
    type="text"
    matInput
    placeholder="New fruit..."
    #fruitInput 
    [formControl]="fruitCtrl"
    [matAutocomplete]="auto"
    value="fruit">
  <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
    <mat-option *ngFor="let fruit of filteredFruits | async" [value]="fruit">
      <mat-checkbox color="primary" style="padding: 0 12px;" [checked]="fruits.indexOf(fruit) >= 0"></mat-checkbox>
      {{fruit}}
    </mat-option>
  </mat-autocomplete>
</mat-form-field>
  