<mat-form-field class="chip-list">
  <mat-chip 
    *ngFor="let fruit of fruits"
    [removable]="removable"
    (removed)="remove(fruit)">
    {{fruit}}
    <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
  </mat-chip>
  <input
    matInput
    placeholder="New fruit..."
    #fruitInput
    #autocompleteTrigger="matAutocompleteTrigger"
    [formControl]="fruitCtrl"
    [matAutocomplete]="auto"
  >
  <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
    <mat-option *ngFor="let fruit of filteredFruits | async" [value]="fruit">
      <mat-checkbox color="primary" [checked]="fruits.indexOf(fruit) >= 0" (click)="$event.stopPropagation()">{{fruit}}</mat-checkbox>
    </mat-option>
  </mat-autocomplete>
</mat-form-field>

