<app-Navbar></app-Navbar>
<div class="icon">
  <i class="fa-solid fa-magnifying-glass"></i>
  <input type="text" [(ngModel)]="searchText" placeholder="Enter UserId or Id" class="search" (ngModelChange)="search($event)">
</div>
<table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
  <ng-container matColumnDef="userId">
    <th mat-header-cell *matHeaderCellDef mat-sort-header="userId">userId</th>
    <td mat-cell *matCellDef="let element">
      <span *ngIf="!element.isEdit">{{ element.userId }}</span>
      <input matInput *ngIf="element.isEdit" value={{element.userId}} (change)="handleOnChange($event, element, 'userId')">
    </td>
  </ng-container>

  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef mat-sort-header="id">id</th>
    <td mat-cell *matCellDef="let element">
      <span *ngIf="!element.isEdit">{{ element.id }}</span>
      <input *ngIf="element.isEdit" matInput value={{element.id}} (change)="handleOnChange($event, element, 'id')">
    </td>
  </ng-container>

  <ng-container matColumnDef="title">
    <th mat-header-cell *matHeaderCellDef mat-sort-header="title">title</th>
    <td mat-cell *matCellDef="let element">
      <span *ngIf="!element.isEdit">{{ element.title }}</span>
      <input *ngIf="element.isEdit" matInput value={{element.title}} (change)="handleOnChange($event, element, 'title')">
    </td>
  </ng-container>

  <ng-container matColumnDef="body">
    <th mat-header-cell *matHeaderCellDef mat-sort-header="body">body</th>
    <td mat-cell *matCellDef="let element">
      <span *ngIf="!element.isEdit">{{ element.body }}</span>
      <input *ngIf="element.isEdit" matInput value={{element.body}} (change)="handleOnChange($event, element, 'body')">
    </td>
  </ng-container>

  <ng-container matColumnDef="Delete">
    <th mat-header-cell *matHeaderCellDef>delete</th>
    <td mat-cell *matCellDef="let element">
      <button mat-raised-button color="warn" *ngIf="!element.isEdit" (click)="deleteData(element.id)">Delete</button>
    </td>
  </ng-container>

  <ng-container matColumnDef="Action">
    <th mat-header-cell *matHeaderCellDef>Action</th>
    <td mat-cell *matCellDef="let element">
      <button mat-raised-button color="primary" *ngIf="!element.isEdit" (click)="editData(element)">Edit</button>
      <button mat-raised-button color="primary" *ngIf="element.isEdit" (click)="onSaveData(element)">Save</button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
<mat-paginator 
  #paginator 
  [pageSizeOptions]="[5, 10, 20]"
  showFirstLastButtons 
  aria-label="Select page of periodic elements">
</mat-paginator>